<div class="card-content">
  <div class="container">
    <div class="swiper-title">
      <h1>Hot Activities</h1>
    </div>
    <div class="card">
      <div class="card-top">
        <div class="card-user">
          <a class="card-avatar" href="#"><img src="/assets/img/tourism-1.jpg"></a>
          <a class="card-username" href="#"><span>Alyssa Miller</span></a>
        </div>
        <div class="card-time">11:24 AM</div>
        <div class="card-body">
          <div class="card-img">
            <a href="#"><img src="/assets/img/tourism-6.jpg"></a>
          </div>
          <div class="card-info">
            <div class="card-title">Maintaining productivity in the face of constant distraction</div>
            <div class="card-sketch">Construct mockups or production-ready pages in-browser with Variant Page Builder</div>
          </div>
          <div class="card-type">
            <a href="#"><span>#dota2</span></a>
            <a href="#"><span>#dota2</span></a>
            <a href="#"><span>#dota2</span></a>
            <a href="#"><span>#dota2</span></a>
          </div>
        </div>
        <div class="card-bottom clearfix">
          <ul>
            <li><a href="#"><i class="mdi mdi-comment-processing"></i><span>10</span></a></li>
            <li><a href="#"><i class="mdi mdi-heart"></i><span>11</span></a></li>
            <li><a href="#"><i class="mdi mdi-share-variant"></i></a></li>
          </ul>
          <a class="card-chat" href="#">Group Chat</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-top">
        <div class="card-user">
          <a class="card-avatar" href="#"><img src="/assets/img/tourism-1.jpg"></a>
          <a class="card-username" href="#"><span>Alyssa Miller</span></a>
        </div>
        <div class="card-time">11:24 AM</div>
        <div class="card-body">
          <div class="card-img">
            <a href="#"><img src="/assets/img/tourism-2.jpg"></a>
          </div>
          <div class="card-info">
            <div class="card-title">Maintaining productivity in the face of constant distraction</div>
            <div class="card-sketch">Construct mockups or production-ready pages in-browser with Variant Page Builder</div>
          </div>
          <div class="card-type">
            <a href="#"><span>#dota2</span></a>
            <a href="#"><span>#dota2</span></a>
            <a href="#"><span>#dota2</span></a>
            <a href="#"><span>#dota2</span></a>
          </div>
        </div>
        <div class="card-bottom clearfix">
          <ul>
            <li><a href="#"><i class="mdi mdi-comment-processing"></i><span>10</span></a></li>
            <li><a class="clicked" href="#"><i class="mdi mdi-heart"></i><span>11</span></a></li>
            <li><a href="#"><i class="mdi mdi-share-variant"></i></a></li>
          </ul>
          <a class="card-chat" href="#">Group Chat</a>
        </div>
      </div>
    </div>
  </div>
</div>