<div class="container">
  <div class="row">
    <h2 class="text-center">{{groupTitle}}</h2>
  </div>
  <div class="">
    <h4 >
      感谢你参加我们举办的活动，所有活动中的信息我们会在群聊中发出，为了方便，推荐你下载app，保证我们能互相联系。
    </h4>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a class="" href="http://a.app.qq.com/o/simple.jsp?pkgname=co.chumi.cq.www"><h4>Chumi App Link</h4></a>
    </div>
  </div>

  <div class="row" style="align-content: flex-start">
    <h3 class="text-center">Group Users: </h3>
      <ul style="text-align: center" class="col-xs-12">
        <li *ngFor="let user of groupUsers; let i = index" class=" col-lg-3 col-md-3 col-sm-3 col-xs-3" style="list-style-type: none; text-align: center">
          <div class="row">
            <img src="{{http.imghost}}{{user.avatarImg}}"
                 onError="this.src='./assets/img/errorImg.jpg';" style="width: 80%;">
          </div>
          <div class="row"><span>{{user.userName.slice(0,10)}}</span></div>
        </li>
      </ul>
    </div>







</div>
