<app-nav></app-nav>

<div class="main-content">
  <div class="container">
    <div class="user-icon">
      <img src="/assets/img/tourism-3.jpg" width="200" height="200">

      <div class="user-info-section hide-on-bg">
        <div class="user-name">
          <h1>USER NAME</h1>
        </div>
        <div class="city-to-live">
          <img src="/assets/img/Location.png" width="16" height="16">
          <span>China</span>
        </div>

        <div class="occupation">
          <span>职业：Software engineer</span>
        </div>

        <div class="description">
          <span>个人描述：Ask me anything about this app</span>
        </div>
        
      </div>

      <div class="stats-section">
        <div class="stats-text">发布<span class="stats-content">152</span></div>
        <div class="stats-text">我的小密圈<span class="stats-content">1</span></div>
        <div class="stats-text">关注<span class="stats-content">2</span></div>
      </div>
    </div>
    <div class="user-info-section hide-on-sm">
      <div class="user-name">
        <h1>USER NAME</h1>
      </div>
      <div class="city-to-live">
        <img src="/assets/img/Location.png" width="16" height="16">
        <span>China</span>
      </div>

      <div class="occupation">
        <span>职业：Software engineer</span>
      </div>

      <div class="description">
        <span>个人描述：Ask me anything about this app</span>
      </div>
      
    </div>
  </div>
  
</div>