.member-row {
    position: relative;
}

.circle-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.circle-element {
    border-radius: 12px;
    border: 1px solid #E8E8E8;
    padding: 20px;
    margin-bottom: 10px;
    position: relative;
}

.circle-element img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    height: 70px;
    width: 70px;
}

.circle-id {
    font-size: 14px;
    font-weight: 600;
    margin-left: 80px;
}

.circle-date {
    color: #C0C0C0;
    margin-top: 5px;
    margin-left: 80px;
}

.circle-price {
    margin-top: 5px;
    font-weight: 600;
    margin-left: 80px;
}

.circle-des {
    margin-top: 5px;
}

.my-circle-row {
    margin-bottom: 40px;
}

.my-following-circle-row {
    margin-bottom: 80px;
}

@media (min-width:750px) {
    .main-content {
        margin-top: 100px;
        width: 750px;
        margin-left: auto;
        margin-right: auto;
    }

    .user-icon-img {
        object-fit: cover;
        object-position: center;
        height: 250px;
        width: 250px;
    }

    .user-info-section{
        position: absolute;
        left: 50%;
        top: 30px;
    }

    .city-to-live {
        font-size: 16px;
        font-weight: 600;
        margin-top: 20px;
    }

    .occupation {
        margin-top:20px;
    }

    .description{
        margin-top: 10px;
    }

    .stat-section {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .stat-element {
        width: 30%;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        border-radius: 12px;
        border: 1px solid #E8E8E8;
        padding: 20px;
    }
}

@media (max-width:749px) {
    
    .main-content {
        margin-top: 90px;
        width: 100%;
    }

    .member-row {
        width: 80vw;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .user-icon-img {
        object-fit: cover;
        object-position: center;
        height: 80vw;
        width: 80vw;
    }

    .user-info-section{
        margin-bottom: 30px;
        width: 80vw;
    }

    .city-to-live {
        font-size: 16px;
        font-weight: 600;
        margin-top: 20px;
    }

    .occupation {
        margin-top:20px;
    }

    .description{
        margin-top: 10px;
    }

    .stat-element {
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 600;
        width: 80vw;
        border-radius: 12px;
        border: 1px solid #E8E8E8;
        padding: 10px;
    }

    .stats-content {
        float: right;
    }

    .stat-section {
        margin-bottom: 30px;
    }
}
