<app-nav></app-nav>

<div class="main-content">
  <div class="container">
    <div class="user-icon">
      <img class="user-icon-img" src="{{userPhotoUrl}}">

      <div class="user-info-section hide-on-bg">
        <div class="user-name">
          <h1>{{userName}}<img src="{{genderImgUrl}}" width="16" height="16"></h1>
        </div>
        <div class="city-to-live">
          <img src="/assets/img/Location.png" width="16" height="16">
          <span>{{cityToLive}}</span>
        </div>

        <div class="occupation">
          <span>职业：{{occupation}}</span>
        </div>

        <div class="description">
          <span>个人描述：{{description}}</span>
        </div>
        
      </div>

      <div class="stats-section">
        <div class="stats-text">发布<span class="stats-content">{{postCount}}</span></div>
        <div class="stats-text">我的小密圈<span class="stats-content">{{myCircle}}</span></div>
        <div class="stats-text">关注<span class="stats-content">{{following}}</span></div>
      </div>
    </div>
    <div class="user-info-section hide-on-sm">
      <div class="user-name">
        <h1>{{userName}}<img src="{{genderImgUrl}}" width="16" height="16"></h1>
      </div>
      <div class="city-to-live">
        <img src="/assets/img/Location.png" width="16" height="16">
        <span>{{cityToLive}}</span>
      </div>

      <div class="occupation">
        <span>职业：{{occupation}}</span>
      </div>

      <div class="description">
        <span>个人描述：{{description}}</span>
      </div>
      
    </div>
  </div>
  
</div>