<head>
  <meta charset="utf-8">
  <title>Chumi</title>
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
  <meta name="description" content="Site Description Here">
  <link rel="icon" href="../../../assets/img/fav.png" type="image/x-icon">
  <link href="../../../assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../assets/css/swiper.css" rel="stylesheet">
  <link href="../../../assets/css/main.css" rel="stylesheet">
  <link href="../../../assets/css/stack-interface.css" rel="stylesheet">
  <!--<link href="../../../assets/css/mdi.css" rel="stylesheet">-->
  <link href="../../../assets/css/chat.css" rel="stylesheet">
</head>
<body>
<app-nav hideNavTab = true></app-nav>

<div class="main-container">
  <div class="card-content no-tab">
    <div class="container">
      <div class="activity-head">
        <div class="author">
          <a class="author-img"><img src="{{creatorIcon}}" onError="this.src='./assets/img/group01.png'"/></a>
          <div class="author-info">
            <span class="authorname">{{creatorName}}</span>
            <!--a href="javascript:;" class="btn-follow"><i class="mdi mdi-plus"></i> 关注</a>
            <a href="javascript:;" class="btn-follow following"><i class="mdi mdi-check"></i> 已关注</a-->
            <div class="authormeta">
              <span class="publish-time">时间 {{postDate | displayDate}}</span>
              <span class="views-count">浏览 {{views}}</span>
              <span class="comments-count">评论 {{commentsCount}}</span>
              <span class="likes-count">喜欢 {{liksCount}}</span>
            </div>
          </div>
        </div>

        <div class="title-head">
          <h1>{{title}}</h1>
        </div>
      </div>

      <div class="event-start-time">
        <h3> {{priceText}} </h3>
      </div>

      <div class="activity-body">
        <a class="img-post"><img src="{{cover}}"/></a>
        <div class="article-post">
          <p class="post-content">{{content}}</p>
        </div>

        <div class="event-start-time">
          <h1> 活动开始时间：{{eventStartTime | displayDate}}  </h1>
        </div>

        <div class="img-box clearfix">

          <div *ngFor="let image of images" class="sub-images">
            <a><img src="{{photoServerUrl + image}}"/></a>
          </div>
        </div>
        <div class="tags clearfix">
          <ul>
            <li *ngFor="let tag of tags"><a>{{tag}}</a></li>
          </ul>
        </div>
      </div>
      <div class="loveit">
        <!--button class="loveit-btn"><i class="mdi mdi-heart-outline"></i>喜欢</button>
        <button class="loveit-btn active"><i class="mdi mdi-heart"></i>喜欢</button-->
        <span class="share-t">分享：</span>
        <ul class="share">
          <li><a class="wechat"><i class="mdi mdi-wechat" style="font-size: 23px"></i></a></li>
          <li><a class="facebook"><i class="mdi mdi-facebook"></i></a></li>
          <li><a class="twitter"><i class="mdi mdi-twitter"></i></a></li>
        </ul>
      </div>
      <div class="signedup">
        <div class="setop">
          <!--span>30人报名</span-->
        </div>
        <div class="clearfix">

          <div class="signup" *ngIf="!isFree">
            <a data-toggle="modal" data-target="#buyTicket" (click)="joinEvent()">
              <span>立即报名</span>
              <i class="mdi mdi-arrow-right"></i>
            </a>
          </div>

          <div class="signup" *ngIf="isFree">
            <a data-toggle="modal" data-target="#joinFree" (click)="joinEventFree()">
              <span>免费参加</span>
              <i class="mdi mdi-arrow-right"></i>
            </a>
          </div>

          <!-- Modal -->
          <div id="joinFree" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">填写个人信息</h4>
                </div>
                <div class="modal-body modal-backgroud">
                  <form class="form-horizontal">
                    <div class="form-group">
                      <label  for="inputEmailFree" class="control-label">电子邮箱：</label>
                      <div class="">
                        <input type="text" name="joinEmail" required [(ngModel)]="joinModel.email" #joinEmail="ngModel" pattern="[a-z0-9A-Z._%+-]+@[a-z0-9A-Z.-]+\.[a-zA-Z]{2,3}$" (keyup)="onKeyEmail($event)" class="form-control" id="inputEmailFree" placeholder="Email"/>
                        <div *ngIf="joinEmail.errors && (joinEmail.dirty || joinEmail.touched)" class="alert alert-danger">
                          <div [hidden]="!joinEmail.errors.required">电子邮箱不能为空</div>
                          <div [hidden]="!joinEmail.errors.pattern">请输入有效邮箱</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputUsernameFree" class="control-label">用户名: </label>
                      <div class="">
                        <input type="text" (keyup)="onKeyUsername($event)" class="form-control" id="inputUsernameFree" placeholder="Username" required [(ngModel)]="joinModel.name" #joinName="ngModel" name="joinName">
                        <div *ngIf="joinName.errors && (joinName.dirty || joinName.touched)" class="alert alert-danger">
                          <div [hidden]="!joinName.errors.required">用户名不能为空</div>
                        </div>
                      </div>
                    </div>

                  </form>
                </div>
                <div class="modal-footer">
                  <button *ngIf="!joinEmail.errors && !joinName.errors" type="submit" class="btn btn-default" (click)="submitJoinFree()">提交</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal -->
          <div id="buyTicket" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">选择票种</h4>
                </div>
                <div class="modal-body modal-backgroud">
                  <div>
                    <div *ngFor="let name of ticketNames; let i = index">
                      <div class="ticket-card hvr-shutter-out-horizontal" data-toggle="modal" [attr.data-target]="modalTarget" (click)="clickTicket(i)">
                        <div class="ticket-card-name">{{name}}</div>
                        <div class="ticket-card-price">${{ticketPrices[i]}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal -->
          <div id="seatSelect" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">选择座位</h4>
                </div>
                <div class="modal-body modal-backgroud">
                  <div class="seat-row">
                      <div *ngFor="let seat of selectedSeatList; let i = index" data-toggle="modal" data-target="#payment-modal" [ngClass]="{'disable-seat': seat!=0, 'hvr-shutter-out-horizontal': seat==0}" (click)="buyTicket(i)" class="seat-card">
                        <div class="seat-index">{{i+1}}</div>
                      </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal -->
          <div id="payment-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">支付信息</h4>
                </div>
                <div class="modal-body modal-backgroud">
                  <div class="stripe-form">
                    <form class="payform">
                      <div class="group">
                        <label>
                          <span class="hide-on-mobile">电子邮箱：</span>
                          <input (keyup)="onKeyEmail($event)" name="user-email" class="field form-control" placeholder="Email" type="text" required [(ngModel)]="paymentModel.email" #paymentEmail="ngModel" pattern="[a-z0-9A-Z._%+-]+@[a-z0-9A-Z.-]+\.[a-zA-Z]{2,3}$"/>
                        </label>

                        <div *ngIf="paymentEmail.errors && (paymentEmail.dirty || paymentEmail.touched)" class="alert alert-danger">
                          <div [hidden]="!paymentEmail.errors.required">电子邮箱不能为空</div>
                          <div [hidden]="!paymentEmail.errors.pattern">请输入有效邮箱</div>
                        </div>
                      </div>
                      <div class="group">
                        <label>
                          <span class="hide-on-mobile">持卡人姓名:</span>
                          <input (keyup)="onKeyUsername($event)" name="cardholder-name" class="field form-control" placeholder="Cardholder Name" required [(ngModel)]="paymentModel.name" #paymentName="ngModel"/>
                        </label>
                        <div *ngIf="paymentName.errors && (paymentName.dirty || paymentName.touched)" class="alert alert-danger">
                          <div [hidden]="!paymentEmail.errors.required">持卡人姓名不能为空</div>
                        </div>
                        <label>
                          <span class="hide-on-mobile">卡号:</span>
                          <div id="card-element" class="field"></div>
                        </label>
                      </div>
                      <button type="submit">确认支付</button>
                      <div class="outcome">
                        <div class="error" role="alert"></div>
                      </div>
                      <div></div>
                    </form>
                  </div>
                </div>
                <div class="modal-footer">
                  <!--button type="button" class="btn btn-default" (click)="closeAllModal()">关闭全部</button-->
                  <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="comment-list">
        <div class="setop">
          <span>{{commentsCount}}条评论</span>
        </div>
        <div class="comment-body">
          <!--form class="reviews">
            <a class="comment-avatar" href="#"><img src="img/avatar.png"></a>
            <textarea placeholder="请写下你的评论..."></textarea>
            <div class="send-group">
              <a class="cancel-btn">取消</a>
              <a class="send-btn">发送</a>
            </div>
          </form-->
          <div class="comments" *ngFor="let comment of comments">
            <a class="comment-avatar"><img src="{{photoServerUrl + comment.photo}}" onError="this.src='./assets/img/group01.png'"></a>
            <div class="comment-details">
              <a class="co-hd">{{comment.Name}}</a>
              <div class="co-bd">{{comment.content}}</div>
              <div class="co-ft">
                <span>{{comment.postDate | displayDate}}</span>
                <button><i class="mdi mdi-message-outline"></i> 回复</button>
              </div>
            </div>
          </div>
          <!--div class="comments">
            <a class="comment-avatar" href="#"><img src="img/avatar.png"></a>
            <div class="comment-details">
              <a href="#" class="co-hd">七个总比八哥好</a>
              <div class="co-bd">看军姿：我军整齐，印军歪三扭四的。我军纪律战斗力肯定比对方强。另外这是很好的爱国宣传材料，宣传部该用用，别整天说套话。看军姿：我军整齐，印军歪三扭四的。我军纪律战斗力肯定比对方强。另外这是很好的爱国宣传材料，宣传部该用用，别整天说套话。</div>
              <div class="co-ft">
                <span>2017.06.05 18:30</span>
                <button><i class="mdi mdi-message-outline"></i> 回复</button>
              </div>
            </div>
          </div>
          <div class="comments">
            <a class="comment-avatar" href="#"><img src="img/avatar.png"></a>
            <div class="comment-details">
              <a href="#" class="co-hd">七个总比八哥好</a>
              <div class="co-bd">看军姿：我军整齐，印军歪三扭四的。我军纪律战斗力肯定比对方强。另外这是很好的爱国宣传材料，宣传部该用用，别整天说套话。看军姿：我军整齐，印军歪三扭四的。我军纪律战斗力肯定比对方强。另外这是很好的爱国宣传材料，宣传部该用用，别整天说套话。</div>
              <div class="co-ft">
                <span>2017.06.05 18:30</span>
                <button><i class="mdi mdi-message-outline"></i> 回复</button>
              </div>
            </div>
            <div class="sub-comment-list">
              <form class="reviews sub-reviews">
                <textarea placeholder="请写下你的评论..."></textarea>
                <div class="send-group">
                  <a class="cancel-btn" href="#">取消</a>
                  <a class="send-btn" href="#">发送</a>
                </div>
              </form>
            </div>
          </div>
          <div class="comments">
            <a class="comment-avatar" href="#"><img src="img/avatar.png"></a>
            <div class="comment-details">
              <a href="#" class="co-hd">七个总比八哥好</a>
              <div class="co-bd">看军姿：我军整齐，印军歪三扭四的。我军纪律战斗力肯定比对方强。另外这是很好的爱国宣传材料，宣传部该用用，别整天说套话。看军姿：我军整齐，印军歪三扭四的。我军纪律战斗力肯定比对方强。另外这是很好的爱国宣传材料，宣传部该用用，别整天说套话。</div>
              <div class="co-ft">
                <span>2017.06.05 18:30</span>
                <button><i class="mdi mdi-message-outline"></i> 回复</button>
              </div>
            </div>
            <div class="sub-comment-list">
              <div class="sub-comment">
                <a href="#" class="co-hd sub-name">七个</a>
                <span class="reply-split">回复</span>
                <a href="#" class="co-hd sub-name">八哥</a>
                <span class="reply-content">笔者这是没有写的了，写这么无聊的事情，还取一个羞羞的名字。。。一下拉低了逼格</span>
                <div class="co-ft">
                  <span>2017.06.05 18:30</span>
                  <button><i class="mdi mdi-message-outline"></i> 回复</button>
                </div>
              </div>
              <div class="sub-comment">
                <a href="#" class="co-hd sub-name">七个</a>
                <span class="reply-split">回复</span>
                <a href="#" class="co-hd sub-name">八哥</a>
                <span class="reply-content">我们都是一样的人哈哈</span>
                <div class="co-ft">
                  <span>2017.06.05 18:30</span>
                  <button><i class="mdi mdi-message-outline"></i> 回复</button>
                </div>
              </div>
              <div class="add-comment">
                <button><i class="mdi mdi-lead-pencil"></i>添加新评论</button>
              </div>
            </div>
          </div>
          <div class="comments">
            <a class="comment-avatar" href="#"><img src="img/avatar.png"></a>
            <div class="comment-details">
              <a href="#" class="co-hd">七个总比八哥好</a>
              <div class="co-bd">看军姿：我军整齐，印军歪三扭四的。我军纪律战斗力肯定比对方强。另外这是很好的爱国宣传材料，宣传部该用用，别整天说套话。看军姿：我军整齐，印军歪三扭四的。我军纪律战斗力肯定比对方强。另外这是很好的爱国宣传材料，宣传部该用用，别整天说套话。</div>
              <div class="co-ft">
                <span>2017.06.05 18:30</span>
                <button><i class="mdi mdi-message-outline"></i> 回复</button>
              </div>
            </div>
            <div class="sub-comment-list">
              <div class="sub-comment">
                <a href="#" class="co-hd sub-name">七个</a>
                <span class="reply-split">回复</span>
                <a href="#" class="co-hd sub-name">八哥</a>
                <span class="reply-content">笔者这是没有写的了，写这么无聊的事情，还取一个羞羞的名字。。。一下拉低了逼格笔者这是没有写的了，写这么无聊的事情，还取一个羞羞的名字。。。一下拉低了逼格</span>
                <div class="co-ft">
                  <span>2017.06.05 18:30</span>
                  <button><i class="mdi mdi-message-outline"></i> 回复</button>
                </div>
              </div>
              <div class="sub-comment">
                <a href="#" class="co-hd sub-name">七个</a>
                <span class="reply-split">回复</span>
                <a href="#" class="co-hd sub-name">八哥</a>
                <span class="reply-content">我们都是一样的人哈哈</span>
                <div class="co-ft">
                  <span>2017.06.05 18:30</span>
                  <button><i class="mdi mdi-message-outline"></i> 回复</button>
                </div>
              </div>
              <div class="add-comment">
                <button><i class="mdi mdi-lead-pencil"></i>添加新评论</button>
              </div>
              <form class="reviews sub-reviews">
                <textarea placeholder="请写下你的评论..." >@八哥： </textarea>
                <div class="send-group">
                  <a class="cancel-btn" href="#">取消</a>
                  <a class="send-btn" href="#">发送</a>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="comment-foot">
          <div class="paginations">
            <button class="page-prev page-btn">上一页</button>
            <button class="page-btn" disabled>1</button>
            <button class="page-btn">2</button>
            <button class="page-btn">3</button>
            <button class="page-btn">4</button>
            <span class="page-btn page-more">...</span>
            <button class="page-btn">10</button>
            <button class="page-next page-btn">下一页</button>
          </div>
        </div-->
      </div>
    </div>
  </div>
</div>

<div class="fixed-height"></div>
<div class="go-activity" *ngIf="!isFree">
  <a class="go-activity-btn" data-toggle="modal" data-target="#buyTicket" (click)="joinEvent()"><span>立即报名</span>
  <i class="mdi mdi-arrow-right"></i></a>
</div>

<div class="go-activity" *ngIf="isFree">
  <a class="go-activity-btn" data-toggle="modal" data-target="#joinFree" (click)="joinEventFree()"><span>免费参加</span>
  <i class="mdi mdi-arrow-right"></i></a>
</div>
</div>
</body>
