<!--<app-nav></app-nav>-->
<!--Header Nav-->
<div class="nav">
    <div class="pull-left">
      <a href="index.html"><img src="/assets/img/logo.png"></a>
    </div>
    <div class="pull-right card-avatar">
      <a href="/group/{{target.id}}">群组成员</a>
    </div>
</div>

<!--Chat content-->
<div class="chat-window-display" id="window">
      <div class="chat-window-msgs">
        <div *ngFor="let i of messages">
          <div class="chat-window-messages" *ngIf="i.messageDirection==2">
            <div class="chat-window-avatar left">
              <img src="{{i.content.user.icon}}">
            </div>
            <div class="chat-window-text left white" *ngIf="i.messageType=='TextMessage'">{{i.content.content}}</div>
            <div class="chat-window-text left white" *ngIf="i.messageType=='ImageMessage'">
              <img src="{{i.content.imageUri}}">
            </div>
            <div class="clear"></div>
          </div>
          <div class="chat-window-messages" *ngIf="i.messageDirection==1">
            <div class="chat-window-avatar right">
              <img src="{{i.content.user.icon}}">
            </div>
            <div class="chat-window-text right blue">{{i.content.content}}</div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
  </div>

<!--Chat Input-->
<div class="chat-window-input" id="input-box">
  <div class="row">
    <textarea id="input" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" [(ngModel)]="myMessage"
              (keydown)="pressKey($event)" name="myMessage">
    </textarea>
    <button class="btn btn-success col-md-1 col-lg-1 col-sm-2 col-xs-2"
            (click)="onSentMsgBtnClick($event)">发送</button>
  </div>
</div>

