<app-nav></app-nav>
  <div class="chat-window-display" id="window">
      <div class="chat-window-msgs">
        <div *ngFor="let i of messages">
          <div class="chat-window-messages" *ngIf="i.messageDirection==2">
            <div class="chat-window-avatar left">
              <img src="{{i.content.user.icon}}">
            </div>
            <div class="chat-window-text left white" *ngIf="i.messageType=='TextMessage'">{{i.content.content}}</div>
            <div class="chat-window-text left white" *ngIf="i.messageType=='ImageMessage'">
              <img src="{{i.content.imageUri}}">
            </div>
            <div class="clear"></div>
          </div>
          <div class="chat-window-messages" *ngIf="i.messageDirection==1">
            <div class="chat-window-avatar right">
              <img src="{{i.content.user.icon}}">
            </div>
            <div class="chat-window-text right blue">{{i.content.content}}</div>
            <div class="clear"></div>
          </div>
        </div>
      </div>

    <div class="chat-window-input container">
      <div class="row">
        <textarea class="col-lg-10 col-sm-10 col-xs-10" [(ngModel)]="myMessage" (keydown)="pressKey($event)" name="myMessage"></textarea>
        <div class="col-lg-2 col-sm-2 col-xs-2">
          <button class="btn btn-success pull-left" (click)="onSentMsgBtnClick($event)">发送</button>
        </div>

      </div>

    </div>

  </div>


