<div class="cw-head">
  {{target?.name}}
</div>
<div class="chat-window-display" id="window">
  <div class="chat-window-msgs">
    <div *ngFor="let i of messages">
      <div class="chat-window-messages" *ngIf="i.messageDirection==2">
        <div class="chat-window-avatar left">
          <img src="{{i.content.user.icon}}">
        </div>
        <div class="chat-window-text left white">{{i.content.content}}</div>
        <div class="clear"></div>
      </div>
      <div class="chat-window-messages" *ngIf="i.messageDirection==1">
        <div class="chat-window-avatar right">
          <img src="{{i.content.user.icon}}">
        </div>
        <div class="chat-window-text right blue">{{i.content.content}}</div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
<div class="chat-window-input">
  <form>
    <textarea [(ngModel)]="myMessage" (keydown)="pressKey($event)" name="myMessage"></textarea>
  </form>
</div>
