<div class="container">
  <div class="flex_wrapper">
    <div class="ys_prompt_pay">
      <div class="ys_prompt_icon pay_done_icon">
        <i class="iconfont icon-correct_big"></i>
      </div>
      <div class="ys_prompt_tips">
        <h2 class="ys_pt_title">{{'message1'|translate}}</h2>
        <p class="ys_pt_desc">{{'message2'|translate}}</p>
        <p class="ys_pt_desc" style="color: #57c96d">{{num}} {{'attendantswait'|translate}}</p>
      </div>
    </div>
    <div class="pay_preview">
      <div class="pay_ph_bd">
        <div class="pay_ph_item">
          <label>{{'invoiceDate'|translate}}</label>
          <span>{{date| date: 'dd-MM-yyyy'}}</span>
        </div>
        <div class="pay_ph_item">
          <label>{{'invoiceid'|translate}}</label>
          <span>{{invoiceId}}</span>
        </div>
        <div class="pay_ph_item">
          <label>{{'invoiceTitle'|translate}}</label>
          <span>{{title}}</span>
        </div>
        <div class="pay_ph_item">
          <label>{{'payamount'|translate}}</label>
          <span>{{amount_due| currency: 'CAD'}}</span>
        </div>
      </div>
    </div>
    <div class="flex_grow"></div>
    <div class="ys_btns">
      <a class="ys_btn" href="/chat/user/{{userId}}/group/{{groupId}}">{{'JoinGroupChat'|translate}}</a>
    </div>
  </div>
</div>
