<div class="container">
  <div class="flex_wrapper">
    <div class="ys_prompt_pay">
      <div class="ys_prompt_icon pay_done_icon">
        <i class="iconfont icon-correct_big"></i>
      </div>
      <div class="ys_prompt_tips">
        <h2 class="ys_pt_title">{{message1}}</h2>
        <p class="ys_pt_desc">{{message2}}</p>
        <p class="ys_pt_desc" style="color: #57c96d">{{num}} attendants are waiting for you</p>
      </div>
    </div>
    <div class="pay_preview">
      <div class="pay_ph_bd">
        <div class="pay_ph_item">
          <label>Invoice Date</label>
          <span>{{date| date: 'dd-MM-yyyy'}}</span>
        </div>
        <div class="pay_ph_item">
          <label>Invoice ID</label>
          <span>{{invoiceId}}</span>
        </div>
        <div class="pay_ph_item">
          <label>Item</label>
          <span>{{title}}</span>
        </div>
        <div class="pay_ph_item">
          <label>Total Price</label>
          <span>{{amount_due| currency: 'CAD'}}</span>
        </div>
      </div>
    </div>
    <div class="flex_grow"></div>
    <div class="ys_btns">
      <a class="ys_btn" href="/chat/user/{{userId}}/group/{{groupId}}">Join</a>
    </div>
  </div>
</div>
