
  <div class="cd-popup-container">
    <h3>Login to your account</h3>
    <p>Welcome back, sign in with your existing account credentials.</p>
    <div class="sub_box">
      <form metohd="post">
        <div class="inputbox">
          <input type="email" placeholder="Enter your email"/>
          <input type="password" placeholder="Enter your password"/>
        </div>
        <button class="sub_btn btn">LOGIN</button>
      </form>
    </div>
    <span class="login-tips">Dont have an account yet?
                <a href="page-accounts-create-1.html">Create account</a>
            </span>
    <span class="login-tips">Forgot your username or password?
                <a href="page-accounts-create-1.html">Recover account</a>
            </span>
    <a href="#0" class="cd-popup-close img-replace">Close</a>
  </div>